//Font Family
$pf: 'Poppins', sans-serif;
$sf: 'Nunito', sans-serif;

//Font Weight
$fw-lig: 300;
$fw-med: 500;
$fw-sem: 600;

//Colors
$black: #2B2B2B;
$white: #EFEFEF;
$blue-l: #007AFF;
$blue-d: #0059B8;
$yellow-l: #EED202;
$yellow-d: #CAB302;
$orange-l: #FFA500;
$orange-d: #E09200;
$red-l: #FF0000;
$red-d: #CC0000;
$wine-l: #BE0032;
$wine-d: #A3002C;
$blood-l: #A50021;
$blood-d: #8F001D;

//Font Size
$fs-xxsm:2.0831rem;
$fs-xsm:2.9169rem;
$fs-sm:3.8331rem;
$fs-med:1.7rem;
$fs-lg:1.8rem;
$fs-xlg:3rem;
$fs-xxlg:3.5rem;

//Margins
$m-1: .75rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 6.25rem;
$m-5: 8.75rem;

//Paddings
$p-1: .75rem;
$p-2: 1rem;
$p-3: 1.5rem;
$p-4: 6.25rem;
$p-5: 8.75rem;

//Spacers
$s-1: .75rem;
$s-2: 1rem;
$s-3: 1.5rem;
$s-4: 6.25rem;
$s-5: 8.75rem;

//Gaps
$g-1: .5rem;
$g-2: .75rem;
$g-3: 1.5rem;
$g-4: 6.25rem;
$g-5: 8.75rem;

//Radius
$r-1: 1.25rem;